{
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"plugins":[
		"react"
	],
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "arrowFunctions": true,
            "classes": true,
            "spread": true,
            "templateStrings": true,
            "jsx": true
        }
    },
	"rules": {
		"react/jsx-indent": [2,"tab"]
	}
}
